.quiz-box {
  background-color: #bfe74f;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(218, 45, 45, 0.1);
  margin: 20px auto;
  max-width: 600px;
  margin-top: 200px;


}
button {
  margin-left: 210px;
  margin-top: 30px;
}
.placar-box {
  background-color: #bfe74f;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(218, 45, 45, 0.1);
  margin: 20px auto;
  max-width: 600px;
}
#btn {
  margin-left: 210px;
  margin-top: 30px;
}
.home-box {

    background-color: #bfe74f;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(218, 45, 45, 0.1);
    margin: 20px auto;
    max-width: 600px;
    margin-top: 200px;
    text-align: center;

  }
#botao {
  margin-left: -15px;
  margin-top: 60px;
}
